<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  {% seo %}
  
  <!-- Favicon -->
  <link rel="icon" type="image/x-icon" href="{{ "/favicon.ico" | relative_url }}">
  <link rel="icon" type="image/png" href="{{ "/favicon.png" | relative_url }}">
  <link rel="icon" type="image/svg+xml" href="{{ "/favicon.svg" | relative_url }}">
  
  <!-- Material Design Lite -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-teal.min.css">
  
  <!-- Custom styles -->
  <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
  
  <!-- Material Design Lite JS -->
  <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
  
  <!-- Vue.js 3 -->
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  
  <!-- Lunr.js for search -->
  <script src="https://unpkg.com/lunr/lunr.js"></script>
  
  <!-- Chart.js for benchmarks -->
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  
  {% feed_meta %}
</head>