<header class="mdl-layout__header">
  <div class="mdl-layout__header-row">
    <!-- Title -->
    <span class="mdl-layout-title">{{ site.title }}</span>
    <!-- Add spacer, to align navigation to the right -->
    <div class="mdl-layout-spacer"></div>
    <!-- Navigation -->
    <nav class="mdl-navigation mdl-layout--large-screen-only">
      <a class="mdl-navigation__link" href="{{ "/" | relative_url }}">Home</a>
      <a class="mdl-navigation__link" href="{{ "/explorer" | relative_url }}">Explorer</a>
      <a class="mdl-navigation__link" href="{{ "/benchmarks" | relative_url }}">Benchmarks</a>
    </nav>
  </div>
</header>
<div class="mdl-layout__drawer">
  <span class="mdl-layout-title">{{ site.title }}</span>
  <nav class="mdl-navigation">
    <a class="mdl-navigation__link" href="{{ "/" | relative_url }}">Home</a>
    <a class="mdl-navigation__link" href="{{ "/explorer" | relative_url }}">Explorer</a>
    <a class="mdl-navigation__link" href="{{ "/benchmarks" | relative_url }}">Benchmarks</a>
  </nav>
</div>